<!--
Padlock Web Version - HTML
Author: Suraj Kothari
-->

<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Padlock icon -->
        <link rel="icon" href="/static/favicon.ico">
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
            crossorigin="anonymous">
        <link rel="stylesheet" href="/static/main.css"> <!-- Padlock CSS -->
        <!-- Bootstrap JavaScript bundle -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
        <!-- Jquery CDN (Google) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- Padlock JavaScript -->
        <script src="static/main.js"></script>

        <title>Padlock - Web Version</title>
    </head>
    <body onload="initialiseSite()">
        <!-- Top header -->
        <div class="container-fluid padlock-header">
            <!-- Logo refreshes site -->
            <a href="/padlock" style="text-decoration: none;">
                <h1 class="display-4 padlock-logo">Padlock</h1>
            </a>
        </div>

        <!-- Main body -->
        <div class="container-fluid padlock-body">
            <!-- Main form -->
            <form id="padlockForm" action="/padlock" method="POST" enctype="multipart/form-data">
                <!-- Inputs to be submitted to Flask -->
                <input id="dataFormatInput" type="hidden" name="dataFormatInput" value={{dataFormatInput}}>
                <input id="cipherInput" type="hidden" name="cipherInput" value="{{cipherInput}}">
                <input id="cipherModeInput" type="hidden" name="cipherModeInput" value={{cipherModeInput}}>
                <input id="processInput" type="hidden" name="processInput" value="">
                <input id="fileInput" type="file" name="fileInput" style="display: none;">

                <!-- Main row -->
                <div class="row padlock-main-row">
                    <!-- Input section -->
                    <div class="col input-section main-section">
                        <div class="section-top">
                            <h2 class="section-title">INPUT</h2>
                            <!-- Data format dropdown -->
                            <div class="dropdown">
                                <h1 id="activeDataFormat" onclick="showDataFormatDropdown()" class="dropdown-btn">{{dataFormatInput.upper()}} &#x25BC;</h1>
                                <div id="dataFormatDropdown" class="dropdown-body">
                                    <a onclick="setMessageOption()">MESSAGES</a>
                                    <a onclick="setFileOption()">FILES</a>
                                    <a onclick="setImageOption()">IMAGES</a>
                                </div>
                            </div>
                        </div>
                        <div class="section-body">
                            <textarea id="inputArea" class="body-textarea" spellcheck="false" name="inputArea" form="padlockForm" rows="8" placeholder="Enter messages...">{{inputText}}</textarea>
                            <div id="fileInputArea" class="file-input-box">
                                <h6 id="fileUploadedText" class="file-uploaded-text"></h6>
                                <!-- File upload icon -->
                                <img src="/static/file_upload_icon.png" height="50">
                                <h5 id="uploadText" class="upload-text" onclick="uploadFile()"></h5>
                            </div>
                        </div>
                    </div>

                    <!-- Process section -->
                    <div class="col process-section main-section">
                        <div class="section-top">
                            <h2 class="section-title">PROCESS</h2>
                            <!-- Cipher mode dropdown -->
                            <div class="dropdown">
                                <h1 id="activeCipher" onclick="showCipherDropdown()" class="dropdown-btn">{{cipherInput}} &#x25BC;</h1>
                                <div id="cipherDropdown" class="dropdown-body">
                                    <a class="dropdown-dividers" style="color: #5B6D46;">Weak Ciphers</a>
                                    <a onclick="setCaesarOption()">Caesar Cipher</a>
                                    <a onclick="setVigenereOption()">Vigenere Cipher</a>
                                    <a class="dropdown-dividers" style="color: #FFF0C4;">Medium Ciphers</a>
                                    <a onclick="setDESOption()">DES</a>
                                    <a onclick="setTDESOption()">Triple DES</a>
                                    <a class="dropdown-dividers" style="color: #F44336;">Strong Ciphers</a>
                                    <a onclick="setAESOption()">AES</a>
                                    <a onclick="setRC4Option()">RC4</a>
                                </div>
                            </div>
                        </div>
                        <div class="section-body">
                            <div id="keyArea" class="key-area">
                                <div class="d-flex">
                                    <h5 class="key-input-label">KEY</h5>
                                    <h5 id="key1Error" class="error-input-label"></h5>
                                </div>
                                <input id="keyInput" class="input-group input-group-sm key-input" type="text" name="keyInput" autocomplete="off" placeholder="Enter key...">
                            </div>
                            <!-- For Triple DES ONLY -->
                            <div id="tDESKeys" style="display: none;">
                                <div id="keyArea2" class="key-area">
                                    <div class="d-flex">
                                        <h5 class="key-input-label extra-keys">KEY 2</h5>
                                        <h5  id="key2Error" class="error-input-label">ERROR</h5>
                                    </div>
                                    <input id="keyInput2" class="input-group input-group-sm key-input" type="text" name="keyInput2" autocomplete="off" placeholder="Enter second key...">
                                </div>
                                <div id="keyArea3" class="key-area">
                                    <div class="d-flex">
                                        <h5 class="key-input-label extra-keys">KEY 3</h5>
                                        <h5  id="key3Error" class="error-input-label">ERROR</h5>
                                    </div>
                                    <input id="keyInput3" class="input-group input-group-sm key-input" type="text" name="keyInput3" autocomplete="off" placeholder="Enter third key...">
                                </div>
                            </div>


                            <!-- Modes for each cipher -->
                            <div id="modeArea" class="mode-area">
                                <div class="d-flex">
                                    <h5 class="mode-input-label">MODE</h5>
                                </div>
                                <div class="dropdown">
                                    <h1 id="activeCipherMode" onclick="showCipherModeDropdown()" class="dropdown-btn small-dropdown">{{cipherModeInput}} &#x25BC;</h1>
                                    <div id="cipherModeDropdown" class="dropdown-body">
                                        <a id="fileModeDivider1" class="dropdown-dividers" style="display: none">Text files only</a>
                                        <a onclick="setClassicMode()">Classic</a>
                                        <a id="ASCIIModeLabel" onclick="setASCIIMode()">ASCII</a>
                                        <a id="fileModeDivider2" class="dropdown-dividers" style="display: none">For all other file types</a>
                                        <a id="Base64ModeLabel" onclick="setBase64Mode()" style="display: none;">Base64</a>
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex justify-content-between encrypt-decrypt-mode">
                                <h5 id="encryptModeTag" class="btn btn-success" onclick="startEncrypt()">ENCRYPT</h5>
                                <h5 id="decryptModeTag" class="btn btn-danger" onclick="startDecrypt()">DECRYPT</5>
                            </div>
                        </div>

                    </div>

                    <!-- Output section -->
                    <div class="col output-section main-section">
                        <div class="section-top">
                            <h2 class="section-title" style="margin-bottom: 17px">OUTPUT</h2>
                            <div class="output-top-content justify-content-between">
                                <!-- Time taken -->
                                <h5 id="timeTakenString" class="time-label">{{timeTakenString}}</h5>
                                <a id="outputBtn" class="btn output-button" onclick="copyOutput()" ></a>
                            </div>
                        </div>
                        <div class="section-body">
                            <textarea id="outputArea" class="body-textarea {{failed}}" spellcheck="false" name="name" rows="8" disabled>{{outputText}}</textarea>
                            <h5 id="outputFileArea" class="body-file-output-area {{failed}}">
                                {{outputText}}
                                <img id="outputImage" class="output-image" src="{{outputFilepath}}" alt="">
                            </h5>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <!-- Footer -->
        <footer class="footer">
            <div style="padding: 0 48px;">
                <p>Padlock | Copyright © 2021 | Author: Suraj Kothari</p>
            </div>
        </footer>

        <script>
            toggleDownload("{{outputFilepath}}", "{{outputFilename}}");
        </script>
    </body>
</html>
